{{define "main"}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero height">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in">
      <div
        class="col-lg-12 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center text-center text-lg-start"
      >
        <h2>About Appremon</h2>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <p>Our Mission</p>
    </div>

    <div class="row gy-4 d-flex align-items-center">
      <div class="col-lg-6">
        <div class="row list-image">
          <div class="col-lg-12">
            <img src="/assets/img/about-1.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 content">
        <p>
          "Empowering individuals and businesses, our mission at Appremon
          transcends mere cybersecurity. With a commitment to prioritizing
          humanity over profit, we endeavor to secure the planet by alleviating
          the burden of cybersecurity concerns. Through real-time threat
          detection, AI-powered anomaly detection, and malicious site blocking,
          we simplify cybersecurity, fortifying digital defenses and fostering a
          safer, more connected world where security is a given, not a worry."
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
<hr />
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <p>Our Tenets</p>
    </div>

    <div class="row gy-4 d-flex align-items-center">
      <div class="col-lg-6 content tenets">
        <p>
          <span
            ><strong>Family and Self:s</strong> While we operate as a cohesive
            team, we understand the importance of prioritizing the well-being
            and security of our team members and their families. We foster a
            supportive work environment where personal growth and fulfillment
            are valued.
          </span>
        </p>
        <p>
          <span
            ><strong>Team Unity: </strong>Embracing a spirit of unity and
            collaboration, we work together towards common goals, leveraging our
            collective strengths to achieve success. We recognize that as a
            team, we are stronger together than as individuals.
          </span>
        </p>

        <p>
          <span>
            <strong>Community Engagement:</strong> We actively engage with and
            contribute to our local and global communities, striving to make a
            positive impact through initiatives that promote education,
            awareness, and accessibility to cybersecurity resources.
          </span>
        </p>

        <p>
          <span>
            <strong>Environmental Responsibility:</strong>
            Committed to minimizing our environmental impact, we promote
            sustainability in all aspects of our operations. Through
            eco-friendly practices, we aim to protect and preserve the planet
            for future generations.
          </span>
        </p>
        <p>
          <span>
            <strong>Innovation and Excellence: </strong>
            We maintain a culture of innovation and excellence, pushing the
            boundaries of technology to deliver cutting-edge solutions that
            simplify cybersecurity and enhance digital defenses. With a
            commitment to continuous improvement, we strive to exceed
            expectations and set new industry standards.
          </span>
        </p>
        <p>
          <span
            ><strong>Transparency and Clarity: W</strong>e prioritize clear
            communication and transparency within our team and with our clients.
            By fostering open dialogue and providing clear expectations, we
            ensure alignment and empower everyone to contribute to our shared
            vision.</span
          >
        </p>
      </div>
      <div class="col-lg-6">
        <div class="row list-image">
          <div class="col-lg-12">
            <img src="/assets/img/tenants.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->

<!-- ======= Our Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <p>Our Team</p>
      <br />
      <p style="font-size: 16px; color: rgb(59, 59, 59); font-weight: 400">
        Meet the Appremon Team At Appremon, we're more than just a cybersecurity
        company. We're a group of passionate professionals dedicated to making
        the digital world a safer place for everyone. Our team combines
        expertise, innovation, and a deep commitment to our values to deliver
        exceptional cybersecurity solutions. Get to know the leaders who are
        driving our mission forward.
      </p>
    </div>

    <div class="row gy-4">
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="member">
          <img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="" />
          <h4>Rick Collette</h4>
          <span>CEO</span>
          <p>
            A visionary leader and cybersecurity enthusiast, Rick Collette is at
            the helm of Appremon. With a background rich in technology and
            business management, Rick brings a unique blend of expertise to the
            table. His strategic vision for Appremon is not just about leading
            the cybersecurity industry, but also about creating a safer digital
            environment for businesses and individuals alike. Under his
            leadership, Appremon has grown into a trailblazer in the SaaS
            cybersecurity space.
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
      <!-- End Team Member -->

      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="member">
          <img src="/assets/img/team/team-2.jpg" class="img-fluid" alt="" />
          <h4>Scott Colston</h4>
          <span>Head of Sales</span>
          <p>
            Scott Colston, our Head of Sales, is the driving force behind our
            customer-focused approach. With a deep understanding of the
            cybersecurity landscape and a knack for connecting with clients,
            Scott ensures that our solutions not only meet but exceed the needs
            of our diverse clientele. His expertise in sales strategy and
            customer relations has been instrumental in expanding Appremon's
            reach and impact.
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
      <!-- End Team Member -->

      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="member">
          <img src="/assets/img/team/team-3.jpg" class="img-fluid" alt="" />
          <h4>Michelle Collette</h4>
          <span> Office Manager</span>
          <p>
            Michelle Collette, the Office Manager at Appremon, is the backbone
            of our daily operations. Her organizational skills and attention to
            detail keep our office running smoothly, enabling the rest of the
            team to focus on delivering top-tier cybersecurity solutions.
            Michelle's role is pivotal in maintaining the positive and
            productive work environment that is central to our company culture.
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
      <!-- End Team Member -->
    </div>
  </div>
</section>
<!-- End Our Team Section -->
<!-- ======= Call To Action Section ======= -->
{{ partial "cta.html"}}
<!-- End Call To Action Section -->

{{end}}
