{{define "main"}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start"
      >
        <h1>Your Ultimate Solution for Simplified Cybersecurity!</h1>
        <h2>Welcome to Appremon</h2>

        <p>
          Protecting your digital assets shouldn't be complicated or expensive.
          That's why at Appremon, we've redefined cybersecurity with our
          cutting-edge SaaS platform. Here's how we're revolutionizing the way
          you safeguard your systems:
        </p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="/about-appremon" class="btn-get-started">About Us</a>
          <a
            href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
            class="glightbox btn-watch-video d-flex align-items-center"
            ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
          >
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 d-flex justify-content-center align-items-center"
      >
        <img
          src="/assets/img/hero-bg.png"
          class="img-fluid"
          alt="Hero BG"
          data-aos="zoom-out"
          data-aos-delay="100"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>About Us</h2>
      <p>
        Empowering individuals and businesses, our mission at Appremon
        transcends mere cybersecurity
      </p>
    </div>

    <div class="row gy-4 d-flex align-items-center">
      <div class="col-lg-6">
        <div class="row list-image">
          <div class="col-lg-12">
            <img src="/assets/img/about-1.png" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-6">
            <img src="/assets/img/about-2.png" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-6">
            <img src="/assets/img/about-3.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure soluta
          fugit distinctio cum optio deserunt. Explicabo facilis omnis ipsam
          vero delectus, saepe nostrum culpa accusantium quas, earum sint
          exercitationem nam fugit tempora voluptatum ad? Quae laboriosam facere
          similique, quasi voluptatum ab, quo inventore eligendi nobis, beatae
          accusamus blanditiis adipisci! Porro nostrum unde voluptas atque dolor
          numquam soluta iusto pariatur natus.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
          pariatur nam quaerat obcaecati excepturi saepe officia. Et nulla illum
          veniam? Unde vitae quaerat fuga corporis? Omnis a saepe excepturi
          alias dolorum cupiditate sunt nihil similique, dolor eum accusantium.
          Reiciendis, ad.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container" data-aos="zoom-out">
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide">
          <img src="/assets/img/client-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/client-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/client-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/client-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/client-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/client-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/client-logo.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="/assets/img/client-logo.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Clients Section -->

<!-- ======= Our Services Section ======= -->
<section id="services" class="services sections-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>What we do?</h2>
      <p>Lorem ipsum dolor sit amet consectetur,</p>
    </div>

    <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <img src="/assets/img/service-1.svg" />
          </div>
          <h3>Real-Time Threat Detection and Remediation</h3>
          <p>
            Say goodbye to the fear of cyber threats looming over your business.
            With Appremon, you can detect and remediate potential threats in
            real-time. From CVE vulnerabilities to exposed network ports and
            secrets in your CI/CD pipelines, we've got you covered.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <img src="/assets/img/service-2.svg" />
          </div>
          <h3>Advanced AI-Powered Anomaly Detection</h3>
          <p>
            Our AI and deep learning algorithms keep a vigilant eye on your
            network traffic, identifying anomalies and potential attacks before
            they escalate. Whether it's generative AI attacks or suspicious
            network behaviors, we're one step ahead, always.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <img src="/assets/img/service-3.svg" />
          </div>
          <h3>Effortless Implementation and Customization</h3>
          <p>
            Forget about complex setups and lengthy configurations. Appremon is
            designed to be incredibly simple to use. We learn your network's
            normal behavior and tailor our detection mechanisms accordingly.
            It's like having a cybersecurity expert dedicated to your network
            24/7, without the hefty price tag.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <img src="/assets/img/service-4.svg" />
          </div>
          <h3>Affordable Protection without Compromise</h3>
          <p>
            Cybersecurity shouldn't break the bank. With Appremon, you get
            top-notch protection at a fraction of the cost. We believe everyone
            deserves access to robust security measures, regardless of budget
            constraints.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <img src="/assets/img/service-5.svg" />
          </div>
          <h3>Elevate Your Security Posture</h3>
          <p>
            By leveraging our platform, you're not just defending against
            threats – you're enhancing your entire security posture. With fewer
            false positives and targeted alerts, you can focus on what matters
            most: growing your business with confidence.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6">
        <div class="service-item position-relative">
          <div class="icon">
            <img src="/assets/img/service-3.svg" />
          </div>
          <h3>Dolori Architecto</h3>
          <p>
            Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non
            et debitis iure. Corrupti recusandae ducimus enim.
          </p>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
<!-- End Our Services Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        atque necessitatibus? A!
      </p>
    </div>

    <div class="row gy-4 d-flex align-items-center">
      <div class="col-lg-6">
        <img src="/assets/img/lorem-section.png" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure soluta
          fugit distinctio cum optio deserunt. Explicabo facilis omnis ipsam
          vero delectus, saepe nostrum culpa accusantium quas, earum sint
          exercitationem nam fugit tempora voluptatum ad? Quae laboriosam facere
          similique, quasi voluptatum ab, quo inventore eligendi nobis, beatae
          accusamus blanditiis adipisci! Porro nostrum unde voluptas atque dolor
          numquam soluta iusto pariatur natus.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
          pariatur nam quaerat obcaecati excepturi saepe officia. Et nulla illum
          veniam? Unde vitae quaerat fuga corporis? Omnis a saepe excepturi
          alias dolorum cupiditate sunt nihil similique, dolor eum accusantium.
          Reiciendis, ad.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->

<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
  <div class="container text-center" data-aos="zoom-out">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9">
        <h3>Don't settle for mediocre cybersecurity solutions.</h3>
        <p class="px-5">
          Choose Appremon and experience unparalleled protection, simplicity,
          and affordability. Get started today and fortify your defenses like
          never before.
        </p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </div>
  </div>
</section>
<!-- End Call To Action Section -->

{{end}}
