<section id="call-to-action" class="call-to-action">
  <div class="container text-center" data-aos="zoom-out">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9">
        <h3>Don't settle for mediocre cybersecurity solutions.</h3>
        <p class="px-5">
          Choose Appremon and experience unparalleled protection, simplicity,
          and affordability. Get started today and fortify your defenses like
          never before.
        </p>
        <a class="cta-btn" href="/contact-us">Contact Us</a>
      </div>
    </div>
  </div>
</section>
