<!-- ======= Header ======= -->

<header id="header" class="header d-flex align-items-center">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a href="/" class="logo d-flex align-items-center">
      <img src="/assets/img/PNG-03.png" alt="Logo" />
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/products">Our Products</a></li>
        <li><a href="/about-appremon">About Appremon</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li class="btn"><a href="/sing-up">Sign-up</a></li>
      </ul>
    </nav>
    <!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
<!-- End Header -->
<!-- End Header -->
